<div class="grow p-3 md:p-6 mx-auto max-screen-4xl">
  <PhoenixNotif.connection_group position={:bottom} />
  <PhoenixNotif.notification_group flash={@flash} connected={assigns[:socket] != nil} />

  <%= @inner_content %>
</div>
